

<ion-content >
  <br><br>
  <h1 style="text-align:center;"><b>Iniciar Sesión </b></h1>

  <ion-label ><b>Usuario:</b></ion-label><br><br>
    <input type="text" placeholder="Escribe tu usuario aqui" style="padding-block-start:15px; width: 95%;"><br><br>


    <ion-label ><b> Contraseña:</b></ion-label><br><br>
    <input type="password" placeholder="•••••••••" style="padding-block-start:15px; width: 95% ;">


    <br><br>
    <ion-button expand="block" style="width:95%;" class="buttom" [routerLink]="['index']">Iniciar sesión</ion-button>
    <p style="text-align:center;">¿Olvidaste algún dato?</p>
    <p style="text-align:center;"><b>Registrate</b></p>

</ion-content>

