
<ion-content>
  <ion-button fill="clear" color="dark" ><ion-icon name="menu-outline"></ion-icon></ion-button>

  <ion-card>
  <img src="https://static.theclinic.cl/media/2022/06/25-201017_k7y0_carabineros-gay-880x500.jpg">
  <ion-card-header>
    <ion-card-title style="text-align:center;">Carabineros</ion-card-title>
  </ion-card-header>
  <ion-button expand="block" color="success"><ion-icon name="call"></ion-icon>Llamar</ion-button>
</ion-card><br>

<ion-card>
  <img src="https://practicatest.cl/static/img/cl/blog/como-conducir-ambulancia-chile.jpg">
  <ion-card-header>
    <ion-card-title style="text-align:center;">Ambulancia</ion-card-title>
  </ion-card-header>
  <ion-button expand="block" color="warning"><ion-icon name="call"></ion-icon>Llamar</ion-button>
</ion-card>

<ion-card>
  <img src="https://upload.wikimedia.org/wikipedia/commons/6/62/Camion_de_bomberos%2C_Curico.jpg">
  <ion-card-header>
    <ion-card-title style="text-align:center;">Bomberos</ion-card-title>
  </ion-card-header>
  <ion-button expand="block" color="danger"><ion-icon name="call"></ion-icon>Llamar</ion-button>
</ion-card><br><br>


<ion-toggle color="danger" [checked]="true" style="margin-left:45%;"></ion-toggle>



</ion-content>
